<header class="bg-white shadow sticky top-0 z-50">
    <div class="max-w-6xl mx-auto px-4 py-4 flex justify-between items-center">
        <h1 class="text-xl font-bold text-indigo-700"><a href="">Belajar Tailwind</a></h1>
        <nav class="space-x-4 text-gray-700 font-medium">
        <a href="dashboard/dashboard.html" class="hover:text-indigo-700">Dashboard</a>
        <a href="#fitur" class="hover:text-indigo-700">Fitur</a>
        <a href="#testimoni" class="hover:text-indigo-700">Testimoni</a>
        <a href="#kontak" class="hover:text-indigo-700">Kontak</a>
        </nav>
    </div>
</header>